.greeting {
  width: 250px;
}

.greeting h1 {
  color: green;
}

body {
  margin: 40px;
}

.nav a {
  font-size: 20px;
  padding: 40px;
}

.error{
  color: red;
}

.greeting {
  display: inline-block;
}

.nav {
  display: inline-block;
}

.notesContainer {
  min-width: 250px;
  max-width: 700px;
}

.note {
  background: aliceblue;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.noteTitle {
  margin: 5px 0px;
}

.noteBody {
  margin: 5px 0px;
}

.note .inputName {
  margin: 8px 0px;
}

.noteTitleInput {
  width: calc(100% * .8);
}

.noteBodyInput {
  width: calc(100% * .8);
  height: 80px;
}

.editNote {
  margin: 8px 0px;
}

.deleteNotes {
  display: block;
  margin: 30px 0px;
  background-color: indianred;
}